:root {
    --porsche-red: #9E0B21;
    --porsche-black: #000000;
    --porsche-yellow: #D4AF37;
    --black-ground: #a3a19f;
    --black-ground-light: #e0dfdd;
    --black-ground-dark: #5c5b59;
    --black-ground-darker: #3a3938;
    --black-ground-darkest: #1f1e1d;
    --porsche-gray: #7d7d7d;
    --porsche-gray-light: #b3b3b3;
    --porsche-gray-dark: #4d4d4d;
    --porsche-golden: #d6933a;
    --porsche-pure-white: #FFFFFF;
    --porsche-graphite-grey: #323639;
    --porsche-diamond-silver: #BFBFBF;
}